<h2>Todo</h2>

<div>
  <h4>Create Todo</h4>
  <form (ngSubmit)="createTodo()">
    <input type="text" name="todoName" [(ngModel)]="todoName" required/>
    <button type="submit">Submit</button>
  </form>
</div>
<br>
<table *ngIf="todoList.length>0">
  <tr *ngFor="let t of todoList">
    <td>
      <input type="checkbox" [checked]="t.completed" (change)="updateTodo(t._id, $event)" />
    </td>
    <td [class]="t.completed?'completedTodo':''">
      {{t.todoName}}
    </td>
    <td>
      <button (click)="deleteTodo(t._id)">Remove</button>
    </td>
  </tr>
</table>

<br><br><br>

<h2>Payment gateway Integration</h2>

<button (click)="createPay()">Click to pay</button>
